body {
  background-color: black;
}

h1,
p {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  text-transform: uppercase;
}

img {
  border: 5px solid white;
  width: 100%;
}

#mainblock {
  width: 50%;
  margin-left: 25%;
}
